{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/recu.css' %}">
    <title>Reçu d'inscription</title>
</head>
<body>
    <div class="container">
        <!-- Logo ESATIC -->
        <div class="logo">
            <img src="{% static 'images/presentation_esatic.jpg' %}" alt="Logo ESATIC">
        </div>

        <h2>Inscription validée !</h2>
        <p>Merci {{ candidat.prenoms }} {{ candidat.nom }}.</p>
        <p>Concours souhaité : {{ candidat.concours_souhaite }}</p>
        <p>Date d’inscription : {{ candidat.date_inscription }}</p>

        <!-- Bouton -->
        <button onclick="window.print()">Imprimer le reçu</button>

        <!-- Signature électronique -->
        <div class="signature">
            <p>Signé électroniquement par ESATIC</p>
            <p class="signature-code">Code : ESATIC-{{ candidat.id }}-{{ candidat.date_inscription|date:"YmdHis" }}</p>
        </div>
    </div>
</body>
</html>
